*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(12, 25, 37);
}

.mainDiv{
    margin: 0px auto;
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    position: fixed;
    z-index: -1;
    background-color: rgb(12, 25, 37);
    /* border: 1px solid white; */
}

.mainDiv .threeBarsIcon{
    color: #BFA181;
    margin: auto 3.5%;
    font-size: 35px;
}

.mainDiv .navbarName{
    color: #BFA181;
    margin: auto 3.5%;
    font-size: 35px;
}

.secondDiv{
    margin: 0px auto;
    height: 60px;
    position: none;
    width: 60%;
    /* border: 1px solid white; */
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    position: fixed;
}

.secondDiv a{
    text-decoration: none;
}

.secondDiv div{
    /* border: 1px solid white; */
    color: #BFA181;
    width: 100px;
    text-align: center;
    padding: 15px;
    margin-top: 3%;
    margin-left: 10px;
    font-weight: bolder;
}

.secondDiv div:hover{
    background-color: #BFA181;
    color: rgb(12, 25, 37);
}

.data{
    /* border: 1px solid white; */
    margin: 1.5% auto;
    width: 99%;
    padding: 2%;
    /* height: 540px; */
    height: auto;
}

.data h1{
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: #BFA181;
}

.data .line{
    height: 3px;
    background-color: white;
    margin: 1% auto;
    width: 70%;
}

.data p{
    margin-top: 5%;
    color: #BFA181;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

/* ------------------ for mobile screens -------------------- */
@media(min-width: 300px){
    .mainDiv{
        position: initial;
        width: 97%;
    }

    .crossIcon{
        /* border: 1px solid white; */
        margin-top: 6%;
        font-size: 35px;
        color: #BFA181;
        width: 16%;
        margin-left: 42%;
        text-align: center;
        margin-bottom: 10%;
    }

    .secondDiv{
        height: 100vh;
        width: 99%;
        background-color: rgb(12, 25, 37);
        display: flex;
        flex-direction: column;
        margin-left: 0%;
        right: 100%;
    }

    .secondDiv div{
        margin: 5% auto;
        width: 40%;
    }

    .data{
        width: 93%;
        margin-top: 10%;
        height: auto;
    }

    .data h1{
        font-size: 40px;
    }

    .data .line{
        margin-top: 2%;
    }

}
/* ------------------ for tablet screens -------------------- */
@media(min-width: 550px){

    .mainDiv{
        width: 99%;
        position: initial;
    }

    .crossIcon{
        /* border: 1px solid white; */
        margin-top: 5%;
        font-size: 35px;
        color: #BFA181;
        width: 16%;
        margin-left: 42%;
        text-align: center;
        margin-bottom: 3%;
    }

    .secondDiv{
        height: 100vh;
        width: 99%;
        background-color: rgb(12, 25, 37);
        display: flex;
        flex-direction: column;
        margin-left: 0%;
        right: 100%;
    }

    .secondDiv div{
        margin: 5% auto;
        width: 50%;
    }

    .data{
        width: 95%;
        margin-top: 8%;
        height: auto;
    }

    data h1{
        font-size: 45px;
    }

    .data .line{
        margin-top: 2%;
    }
}
/* ------------------ for laptop screens -------------------- */
@media(min-width: 900px){

    .mainDiv{
        width: 99.4%;
        position: initial;
        /* border: 1px solid white; */
    }

    .secondDiv .crossIcon{
        font-size: 35px;
        color: #BFA181;
        width: initial;
        margin: auto 3.5%;
    }

    .secondDiv{
        height: 60px;
        width: 80%;
        background-color: rgb(12, 25, 37);
        display: flex;
        flex-direction: row;
        right: 0%;
        /* border: 1px solid white; */
        margin-right: 25%;
        position: initial;
        margin-left: 10%;
    }

    .secondDiv div{
        margin-top: 3%;
        margin-left: 10px;
        width: 100px;
    }

    .data{
        width: 95%;
        margin-top: 3%;
        height: auto;
    }

    data h1{
        font-size: 60px;
    }

    .data .line{
        margin-top: initial;
    }
}